.SupplyUniformMainSec {
    background-color: #eeeeeec0;
    height: 700px;
  }
  
  .supplyLeftSecText {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .supplyTitle h2 {
    font-size: 40px;
    font-weight: 350;
  }
  
  .spanText {
    font-weight: 800;
  }
  
  .supplyPara {
    width: 50%;
  }
  
  /* ================= CARD STYLES ================= */
  .supplyCard {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    text-align: left;
    height: 100%;
    width: 80%;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ddd;
  }
  
  .supplyCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .supplyCardImg {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .supplyCardTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .supplyCardDesc {
    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .supplyReadMore {
    font-weight: 600;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }
  
  .supplyReadMore:hover {
    color: #ff6600;
  }
  