.TopManufacturerImg{
  width: 95%;
  height:550px;
  border-radius: 40px;
}

.ManufacturerTextSec{
 padding: 0 30px;
}

.ManufacturerTextSec h2{
    font-size: 40px;
    font-weight: 350;
}

.spanText{
    font-weight: 800;
}

.ManufacturerTextSec p{
    text-align: justify;
  font-size: 16px;
  font-weight: 400;
  color: gray;
}

.Connectbtn{
    padding:12px 20px;
    font-size: 12px;
    background-color: #E74C3C;
    color: white;
    border-radius: 30px;
    border:none;
    margin-left:5px;
}


