.BannerDetials{
    position: relative;
}

.BannerImgSec{
    position: relative;
}


 .overlayText {
    position: absolute;
    top: 90px;
    left: 100px;
}

 .overlayText h3{
    color:white;
    font-size: 28px;
 }

.bannerpara{
    color:white;
    font-size: 15px;
}

.BannerImg{
    width: 100vw;
    height:350px;
}



.bannerBtn{
    padding:10px;
    border:none;
    background-color: white;
    
}



@media (max-width:768px){
    .overlayText {
        position: absolute;
        top: 10px;
        left: 23px;
    }

    .BannerImg {
        width: 100vw;
        height: 150px;
    }
    .overlayText h3 {
        color: white;
        font-size: 10px;
    }

    .bannerBtn {
        padding: 4px;
        font-size: 12px;
    }

    .bannerpara {
        color: white;
        font-size: 11px;
    }
}